/* grid styles ------------------------------------ */
@media (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .figure1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .figure2 {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .figure3 {
    grid-column-start: 4;
    grid-row: span 2;
  }
  .figure4 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .figure5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
  }
}


/* generic styles ----------------------------------- */

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
